@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap");

/* Other rules */

* {
  font-family: "Marvel";
  font-weight: bold;
}

a {
  font-weight: bold;
  cursor: pointer;
  color: red;
  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}

a:visited {
  color: inherit;
}

a:link {
  text-decoration: none;
}

body {
  background-color: #1a1b1d;
}

h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 10px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 20px #ffffff;
}

header {
  height: 100px;
  background-color: black;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  object-fit: contain;
  object-position: center;
}

header .container {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

header input {
  outline: none;
  padding: 10px;
  padding-right: 100px;
  border-radius: 5px;
}

header .container button {
  margin: 0 20px;
  border: none;
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}
header .container button:hover {
  opacity: 0.6;
}

header .lastBtn button {
  margin: 0 20px;
  border: none;
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

header .lastBtn button:hover {
  opacity: 0.7;
}
header span {
  cursor: pointer;
  margin: 0 5px;
}

header span:hover {
  text-decoration: underline;
}

main {
  max-width: 1144px;
  margin: 0 auto;
  color: white;
}

.imgCha {
  height: 250px;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCha:hover {
  opacity: 0.6;
}

.characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.characters li {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 290px;
  margin-bottom: 50px;
  color: black;
  border: 1px solid white;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.characters li:not(:nth-child(5n)) {
  margin-right: 30px;
}
.characters li:hover {
  text-decoration: underline;
}

.comicsItem img {
  height: 250px;
  width: 250px;
  object-position: center;
  object-fit: center;
}

.comicsItem {
  display: flex;
  flex-direction: column;
}
.comicsItem li {
  display: flex;
  flex-direction: column;
}

.favorites img {
  height: 250px;
  width: 250px;
  object-position: center;
  object-fit: center;
}

.favorites ul li {
  display: flex;
  flex-direction: column;
}

.hiddenModal {
  display: none;
}

.displayModal {
  display: flex;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.displayModal form {
  background-color: white;
  border: 1px solid red;
  border-radius: 50%;
  color: white;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayModal input {
  outline: none;
  border: none;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.displayModal h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.cross {
  font-size: 24px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 10px;
}

.cross:hover {
  transform: rotate(90deg);
}
.fav {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 15px;
  margin-bottom: 50px;
}
.fav li:not(:last-child) {
  margin-right: 15px;
}

.fav img {
  height: 250px;
  width: 250px;
  object-position: center;
  object-fit: center;
}

footer {
  margin-top: 25px;
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart {
  cursor: pointer;
  transition: 0.3s;
}

.fa-heart:hover {
  color: red;
  opacity: 0.7;
}

.imgCha {
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.imgCha:hover {
  opacity: 1;
}
.test {
  opacity: 0;
  width: 200px;
  height: 250px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.test:hover {
  color: white;
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 1;
}

.dropdown {
  display: none;
}

@media (max-width: 1144px) {
  header {
    flex-direction: column;
    height: 175px;
    padding-bottom: 30px;
  }
  header div:first-child {
    margin: 15px 0;
  }
  header .container {
    margin-bottom: 15px;
    flex-direction: column;
    margin-left: 0px;
  }
  main {
    max-width: 900px;
  }
  .characters li {
    margin-right: 30px;
  }
}

@media (max-width: 585px) {
  header {
    padding-top: 15px;
    height: 250px;
  }
  header .container {
    display: none;
  }
  header .dropdown {
    display: block;
    margin-bottom: 15px;
    transition: 0.3s;
  }

  .characters li {
    margin-left: 30px;
  }

  .boutonmenuprincipal {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-top: 20px;
    font-size: 25px;
    width: 160px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }
  .dropdown-child {
    display: none;
    width: 150px;
    transition: 0.3s;
  }
  .dropdown-child button {
    background-color: white;
    color: black;
    width: 150px;
    height: 30px;
    display: block;
    border: none;
    border-bottom: 1px solid red;
    cursor: pointer;
  }

  .dropdown-child button:hover {
    opacity: 0.7;
  }

  .dropdown:hover .dropdown-child {
    display: block;
    margin: 0 auto;
  }
}
